.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.auth-details {
    margin: 35px 0px;
}

.btn {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    border: none;
    padding: 3px 10px;
    border-radius: 4px;
}